{% extends "base.html" %}
{% load crispy_forms_tags %}


      <style>
{% block style %}

.jumbotron {
    

	background-color: #0E3D14;
	color: #fff;
}

.navbar-static-top {
  margin-bottom: 0px !important;
 


}

{% endblock %}

</style>
{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
     <div class="jumbotron" style="text-align:center;">
     	<h1>Contact Us</h1>
     </div>


      {% endblock %}  


       {% block content %}
 <div class="row">
 	<div class="col-sm-6 col-sm-offset-3">

		 <form method="POST" action="">{% csrf_token %}
			 {{ form|crispy }}
			 <input class="btn btn-primary"type="submit" value="submit"> 
		</form>
    </div>
 </div> 
      {% endblock %} 

   

