{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}



{% block page_tittle %} Dorentin | {% endblock %}
  

  

      
{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
{% if not request.user.is_authenticated %}
     <div class="jumbotron">
     	<div class="container">
      	<div class="row">
      		<div class="col-sm-8">
	        <h1>Hello There</h1>
		        <p>This webapp lets you to collect signups. </p>
		        <p>To see the signups list register and then login</p>
		        <p>Add a signup on your right.</p>
		        <!-- <p>
		          <a class="btn btn-lg btn-primary" href="/" role="button">View navbar docs &raquo;</a>
		        </p> -->
		    </div><!--end of col-sm-7-->
		    <div class="col-sm-4">
		    	<!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/OWsyrnOBsJs" frameborder="0" allowfullscreen></iframe> -->


 		<p class="lead"><i class="fa fa-user-plus"></i>  {{ title }}</p>

 		<form method="POST" action="">{% csrf_token %}
					 {{ form|crispy }}
						 <input class="btn btn-primary" type="submit" value="SignUp">
						
						 
					</form>

	


		    
				






		    </div><!--end of col-sm-5-->

        </div><!--end of row-->
        </div>
     </div>
     {% endif %}
 {% endblock %} 


 <style>
{% block style %}

.navbar-static-top {
  margin-bottom: 0px !important;



}

.jumbotron {
	background-color: #0E3D14;
	color: #fff;
}

{% endblock %}

</style>    

 


 {% block content %}

 {% if request.user.is_authenticated %}

 <h1 style="text-align:center;"><i class="fa fa-check fa-1x"></i>You are Loged In</h1>

 {% if queryset %}

   <h1 style="text-align:center;">Welcome</h1> <br />
        <table class="table table-striped">
		 {% for instance in queryset %}
		    <tr><td> {{ instance }}</td>  <td>{{ instance.full_name }}</td> <td>{{ instance.created_time }}
		    </td> </tr> 
		 {% endfor %}
		 </table>
		 
 {% endif %}

 {% else %}
<!-- <div class="row"> -->
 
  <!-- <div class="col-sm-3 lead"><p>Built with Django and Bootstrap <br> <i class="fa fa-star-half-o fa-5x"></i></p>





 </div>  
 
<div class="col-sm-3 lead">

	<p>Created for starters of all kinds <br><i class="fa fa-tasks fa-5x"></i></p>

	





</div>
 <div class="col-sm-3 lead">

 	<p>Always open source <br> <i class="fa fa-tachometer fa-5x"></i></p>

 	 

 </div>  -->
 
 	<!-- <div class="col-sm-3">

 		<p class="lead"><i class="fa fa-user-plus"></i>  {{ title }}</p>

 		<form method="POST" action="">{% csrf_token %}
					 {{ form|crispy }}
						 <input class="btn btn-primary" type="submit" value="SignUp">
						
						 
					</form> -->

	
<!-- </div> 

</div>  -->
{% endif %}
 {% endblock %}



